.full_page {
  background: linear-gradient(90deg, #FACEFF, #BBBBE9);
  font-family: 'Yusei Magic', sans-serif;
}

header {
  width: 100%;
  padding: 30px 10px;
  background-color: #A1FBEE;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  line-height:48px;
  font-size: 42px;
  color: #5454f7;
}

.ttl {
  padding-left: 5px;
}

.site_logo {
  width: 48px;
}

.navIcon {
  text-align: center;
}

.none {
  text-decoration: none;
}

.icon {
  width: 32px;
  color: #5454f7;
}

.navText {
  font-size: 12px;
  text-align: center;
}

.header_wrap {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav {
  margin: 0 0 0 auto;
}

.nav_wrap {
  display: flex;
}

.nav_item {
  padding: 0 20px;
  font-size: 14px;
}

.card_img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.card_group {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.card_item {
  margin: 20px;
  width: calc(23% - 20px);
}

.card_ttl,h2{
  padding: 10px 20px;
  font-weight: bold;
  font-size: 24px;
}

.tag {
  padding-left: 20px;
  font-size: 15px;
}

.btn_d {
  background-color: #5454f7;
  border-radius: 5px;
  border-style: none;
  padding: 8px 20px;
  color: #FDFDFD;
  margin: 20px 0;
}

.card_content {
  background-color:#FDFDFD ;
  border-radius: 0 0 15px 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex2 {
  padding: 48px;
  display: flex;
  justify-content: center;
}

.wrap {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.detail {
  width: 40%;
  margin-left: 100px;
  margin-top: 100px;
}

.reserve_table {
  width: 40%;
  margin-right: 100px;
  margin-top: 100px;
  background-color: #A394EE;
}

.seachIcon {
  height: 28px;
  margin: 3.5px;
  border:none;
  border-radius:0 25px 25px 0;
}

.btn_s {
  border: solid 2px;
  border-radius:0 25px 25px 0;
  background-color: #A1FBEE;
}

.height {
  border: solid 2px;
  height: 42px;
  border-right: transparent;
}

.content_card {
  width: 30%;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.card_head {
  font-size: 28px;
  color: #FDFDFD;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #5454f7;
  margin: 0 auto;
  border-radius: 15px 15px 0 0;
}

.content_item {
  background-color: #FDFDFD;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 0 0 15px 15px;
}

.content_f {
  margin: 10px auto;
}

.favo {
  width: 42px;
  margin: 10px 0px;
}

